html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color : darkslategray;
}


/*  Tableau */

tr {
    line-height: 18px;
}

thead {
    border-bottom: 1px solid darkblue;
    color: darkblue;
    font-weight: bold;
}


/* Style pour la zone déposer d'un upload par glisser déposer */
.upload {
    text-align : center;
    border: 1px dashed ;
    height: 150px;
    margin : 10px 0  10px 0 ;
}

.upload:hover {
    background-color : #efefef;
    cursor :  pointer
}

.messageErreur {
    font-size: 0.8rem;
    font-style: italic;
    color: red;
}


